@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html{
    width: 98%
}
body {
    background: #F9FBFC;
    font-family: 'Lato', sans-serif;
    
}

h1 {
    font-size: 48px;
    line-height: 55px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 17px;
    line-height: 28px;
}

.button-white {
    background: #fff;
    color: #00CF60;
    border-color: #00CF60;
    border-radius: 10px;
}

.back-button{
    position: absolute;
    top: 2vh;
    left: 2vh;
    color: #000;
  }

/* HOME */
header {
    background: #00CF60;
    padding-bottom: 10px;
    height: 48vh
}

.heading {
    height:75%;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

.landing-page-info {
    margin-top: 2em;
}

.landing-page-info i {
    display: block;
    margin: 0 auto;
    font-size: 156px;
    text-align: center;
    color: #0BD5DB;
}

.landing-page-info p {
    text-align: center;
}

.landing-page-info h4 {
    color: #00CF60;
    text-align: center;
}

.landingpage-card {
    height: 24em;
}


/* LOGIN AND SIGNUP */
.left-section {
    padding: 2%;
    width: 40%;
    height: 90vh;
    background: #00CF60;
    color: #fff;
    line-height: 26px;
  }
  
  .left-section h2 {
    margin-top: 25vh;
    margin-bottom: 20px;
  }
  
  .right-section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* DASHBOARD */

.account-circle{
    color: #00CF60;
    position: absolute;
    top: 2%;
    right: 2%;
}
.dashboard-sidebar{
    background: #00CF60;
    color: #fff;
    height: 98vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
}
.dashboard-sidebar h4{
    text-align: center;
    font-size: 20px
}
.sidebar-items{
    margin-top: 20px;
    list-style: none;
}
.sidebar-items li{
    margin-bottom: 10vh;
}












@media only screen and (max-width: 600px) {
    .nav-warpper {
        background: #00CF60;
    }

    .white-nav .brand-logo {
        color: #fff;
    }


    h1 {
        font-size: 3em;
        text-align: center;
    }

    h4 {
        text-align: center
    }

    .heading a {
        margin: 0 auto;
        display: block;
    }


    form {
        background: #00CF60;
        text-align: center;
        color: #fff;
    }

    label {
        color: #fff !important;
    }

    .login-signup-green {
        background: #fff;
        color: #00CF60;
    }


    .green-wrapper {
        background: #00CF60;
        height: 105vh;
        text-align: center;
        color: #fff;
    }




    /* LOGIN AND SIGNUP */

    .mobile-green{
        background-color: #00CF60 !important;
    }
    .left-section{
        background: #fff;
        color: #000;
        padding: 0 20px;
        height: 30vh
        
    }
    .left-section h2{
        margin-top: 5vh;
    }
    .left-section button{
        display: none;
    }
    .right-section{
        justify-content: flex-start;
    }
    .login-signup form{
        background: #fff;
    }

}